// Step Input
//

.step-input {
  border: none;

  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.125rem;

  outline: none;

  padding: 13px 0 13px 14px;

  &::placeholder {
    color: #CFCFCF;
  }
}
